
@media screen and (max-width: 728px) {
    .card-informacoes_pessoais {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        width: 100%;
        margin: 20px 0;
    }

    .main-info_container {
        width: 100%;
        box-sizing: border-box;
        display: block;
    }

    .card-info {
        border-radius: 3px;
        background-color: #fff;
        border: 1px solid #cccccc;
        box-shadow: 0px 10px 7px -10px #b5b5b5;
    }

    .contact-fields {
        display: flex;
        justify-content: center;
    }

    .row {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .col-1 {
        min-height: 1px;
        padding: 0 11px;
        margin: 0 2.5rem 0 11px;
    }

    .person-photo {
        width: 55px;
        height: 55px;
        background-color: #d4d4d4;
        position: relative;
        overflow: hidden;
        margin: 10px auto 0;
        border-radius: 64px;
    }

    .col-2 {
        border-top: 1px solid #b5b5b5;
        padding-top: 10px;
        line-height: 1.231;
        font-weight: 400;
        font-size: 14px;
        color: #626262; 
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #nome-dados-basicos .group-field > strong{
        width: 60%;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .container-dados-sumarizados {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .div_agrupamento-dados_sumarizados {
        margin-left: -2.5px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .dado-sumarizado {
        cursor: pointer;
        width: 100%;
     }

     .email-sumarizado {
        height: 100%;
        display: flex;
        background-color: #fcecca;
        color: #e19b0b;
        overflow: hidden;
        border-radius: 3px;
    }
}
