


    /*MOBILE DADOS BÁSICOS RESPONSIVO*/
  @media (min-width: 360px) and (max-width: 567px) {

    .card-informacoes_pessoais {
        margin-bottom: 40px;
    }

    .main-info_container{
        box-sizing: border-box;
        display: block;

    }
    .card-info {
        width: 100%;
        height: auto;
        border-radius: 3px;
        background-color: #fff;
        border: 1px solid #cccccc;
        box-shadow: 0px 10px 7px -10px #b5b5b5;
    
    }

    .row {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .col-1 {
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .col-2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* MOBILE DADOS sumarizados RESPONSIVO*/

    .container-dados-sumarizados {
        display: block;
        max-width: 90%;
        width: 90%;
        break-inside: avoid-region!important;
        margin-bottom: 40px;


    }
    
    #dados-sumarizados {
        padding: 0!important;
        
    }
    
    .section-dados-sumarizados {
        width: 100%!important;
    }
    
    .div_agrupamento-dados_sumarizados {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    
    
    }
    
    .dado-sumarizado {
        cursor: pointer;
        width: 100%;
        max-width: 100%;

    }


    .email-sumarizado {
        width: 100%;
        background-color: #fcecca!important;
        color: #e19b0b!important;
        display: flex;
        overflow: hidden;

        border-radius: 3px;
    }

    .email-sumarizado-icon {
        max-width: auto;
        width: 50%;
        text-align: center;
    
        background-color: #f6bb42!important;
        color: #fff;
        padding: 10px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .imoveis-sumarizado {
        height: 100%;
        width: 100%;

        display: flex;
        background-color: #c2d7f3!important;
        color: #2363b6!important;
    
        overflow: hidden;
        border-radius: 3px;
    }
    
    .imoveis-sumarizado-icon {
        max-width: auto;
        width: 50%;
        text-align: center;
    
        background-color: #3498db!important;
        color: #f5f8fd;
        padding: 10px;
    
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .telefones-sumarizado {
        height: 100%;
        width: 100%;

        display: flex;
        background-color: #d2eece!important;
        color: #47a839!important;
    
        overflow: hidden;
        border-radius: 3px;
    }
    
    .telefones-sumarizado-icon {
        max-width: auto;
        width: 50%;
        text-align: center;
    
        background-color: #70ca63!important;
        color: #f5f8fd;
        padding:10px;
    
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .enderecos-sumarizado {
        height: 100%;
        width: 100%;

        display: flex;
        background-color: #9fe3d2!important;
        color: #26816a!important;
    
        overflow: hidden;
        border-radius: 3px;
    }
    
    .enderecos-sumarizado-icon {
        max-width: auto;
        width: 50%;
        text-align: center;
    
        background-color: #37bc9b!important;
        color: #cef1e8;
        padding: 10px;
    
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .contatos-sumarizado {
        height: 100%;
        width: 100%;

        display: flex;
        background-color: #7c829d!important;
        color: #1a1c23!important;
    
        overflow: hidden;
        border-radius: 3px;
    }
    
    .contatos-sumarizado-icon {
        max-width: auto;
        width: 50%;
        text-align: center;
    
        background-color: #3b3f4f!important;
        color: #9fa4b7;
        padding: 10px;
    
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .carros-sumarizado {
        height: 100%;
        width: 100%;

        display: flex;
        background-color: #efebfa!important;
        color: #663dcc!important;
    
        overflow: hidden;
        border-radius: 3px;
    }
    
    .carros-sumarizado-icon {
        max-width: auto;
        width: 50%;
        text-align: center;
    
        background-color: #967adc;
        color: #fff;
        padding: 10px;
    
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .imoveis-sumarizado-info, .telefones-sumarizado-info,
    .email-sumarizado-info, .enderecos-sumarizado-info,
    .contatos-sumarizado-info, .carros-sumarizado-info {
        width: 50%;
        display: flex;
    }
    
    
    .imoveis-sumarizado-info > h2, .telefones-sumarizado-info > h2,
    .email-sumarizado-info > h2, .enderecos-sumarizado-info > h2,
    .contatos-sumarizado-info > h2, .carros-sumarizado-info > h2 {
        font-size: 25px;
        display: block;
        line-height: 25px;
        
    
        padding-left: 2px;
        margin: 0;
    }
    
    .imoveis-sumarizado-info > small, .telefones-sumarizado-info > small,
    .email-sumarizado-info > small, .enderecos-sumarizado-info > small,
    .contatos-sumarizado-info > small, .carros-sumarizado-info > small  {
        font-size: 9px;
        display: block;
        font-weight: 600;
    
        padding-left: 2px;
    
    }

    /* MOBILE SITUAÇÃO CADASTRAL RESPONSIVO*/


    .container_pai-situacao_cadastral {
        break-inside: avoid-region;
        display: flex;
        flex-wrap: wrap;
    
        margin: 0px 20px;
        justify-content: start;
    
        max-width: 90%;
        width: 90%;
        margin-bottom: 40px;
    }
    
    #RegistrationStatus {
        width: 100%;
    
    }
    
    .agrupamento_geral-situacao_cadastral {
        border-radius: 3px;
        background-color: #fff;
    
        height: auto;
        border: 1px solid #cccccc;
        box-shadow: 0px 10px 7px -10px #b5b5b5;
        box-sizing: border-box;
    }
    
    #card-header-situacao_cadastral > button {
        position: relative;
        left: 185px;
        padding: 0 2px;
        vertical-align: middle;
        line-height: 0px;
        font: inherit;
    }
    
    #card-header-situacao_cadastral > button:hover {
        background-color: #d8d5d5;
        transition: 1s;
    }
    
    .main-card-info-situacao_cadastral {
        margin-top: 10px;   
    }
    
    .principal-situacao_cadastral {
        display: flex;
        padding: 0px;
        gap: 20px!important;
        flex-direction: column;
    }
    

        /* TOP CONTATOS*/

        .container_pai-top_dados_contato {
            margin-top: 0;
        }
         
        #TopContactInformation {
            width: 100%;
            margin-bottom: 0px;
        }
       
        .main-hot-email-1 {
            width: 18%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0!important;
            margin: 0!important;
            height: 30px;
        }

        .hot-email-1 {
            background-color: #f5f5f5;
            color: #888;
            
            border-bottom: 0;
            border-radius: 3px 3px 0 0;
            
        
            display: flex;
            align-items: center;
            justify-content: center;
        
            cursor: pointer;
            border: 1px solid;
            border-color: rgba(0,0,0,.15);
            width: 100%;
            height: 100%;
        }

        .text_container-hot_email  {
            display: none;
            /*sumindo com o texto do email icon*/
        }

        .main_container-hot-address {
            width: 15%;
        }

        .hot-address-1 {
            color: #888;
            gap: 0px;

            padding: 0px;
            margin: 0px;
            border-bottom: 0;
            border-radius: 3px 3px 0 0;
            
            padding-bottom: 20px;
        
            display: flex;
            
            width: 100%;
            height: 36px;
            align-items: center;
        
            cursor: pointer;

        }
        
        .text_container-hot_address{
            display: none;
        }

        .main_container-hot-mobile_phone{
            width: 15%;
        }

        .hot-mobile-phone-1 {
            color: #888;
            gap: 0px;
            padding: 0px;
            margin: 0px;
            
            border-radius: 3px 3px 0 0;
            
            padding-bottom: 20px;
        
            display: flex;
            width: 100%;
            height: 36px;
            align-items: center;
            
            cursor: pointer;
            border: 1px solid;
            border-color: rgba(0,0,0,.15);
        }

        .text_container-hot_mobile_phone{
            display: none;

        }
        
        .main_container-hot-phone {
            width: 15%;
        }

        .hot-phone-1 {
            color: #888;
            gap: 0px;

            padding: 0px;
            margin: 0px;
        
            border-bottom: 0;
            border-radius: 3px 3px 0 0;
            
            padding-bottom: 20px;
        
            display: flex;
            width: 100%;
            height: 36px;
            align-items: center;
            
            cursor: pointer;
            border: 1px solid;
            border-color: rgba(0,0,0,.15);
        }


        .hot-address-1:hover, .hot-mobile-phone-1:hover,
        .hot-phone-1:hover {
            background-color: #f5f5f5;
        }
        
        .text_container-hot_phone{
            display: none;
            /*LIST EMAIL*/
        }

        .main-card-info-top_dados_contato {
            width: auto;
            height: auto;
        }

        .main-container-hot_email-1-list {
            width: 100%;
            height: auto;
            max-height: 100%;
        }
        
        .hot-email-1-list {
            background-color: #f5f5f5;
            border-color: #d7d7d7;
            width: 100%;
            height: auto;
            overflow: initial;
            border: 1px solid #ddd;
            margin-bottom: 0!important;
            border-radius: 3px;
        
            line-height: 1.231;
            font-weight: 400;
            font-size: 14px;
            color: #626262;
        
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: 100%;
        }
        
        .panel-body-email_list {
            height: auto;
            border: 0;
            clear: both;
        }

        .list {
            height: auto;
        }
        
        .email-list {
            width: 100%;
            display: inline-block;
            height: auto;
        }

        .email-list-first-body {
            height: auto;
        }
        
        .email-list-body {
            gap: 10px;
            border: 0;
            height: auto;
            display: flex;
            flex-direction: column;
            min-height: 40px;
        }
        
        .email-group-info {
            display: flex;
            height: auto;
        }

        .email_list-group_box {
            width: 100%!important;
        }

        .sub_container-group_box {
            margin: 0!important;
            gap: 10px;
            width: 100%;
            flex-wrap: wrap;
            display: flex;
        }

        /*PESSOAS MAIS RELEVANTES*/

        #MostRelevantPeople {
            margin-bottom: 0px;
        }

        .col_1-most_people {
            border-color: #1436cd;
            border-bottom: 1px solid #b3b3b3;
            padding: 5px 10px 7px;
        
            display: flex;
            flex-direction: column!important;
            align-items: start;
            gap: 10px;
            flex-wrap: wrap;
            min-height: 40px;
        
            cursor: pointer;
            flex-direction: row;
            justify-content: space-between;
        }

        .name_box-most_people {
            width: 100% ;
        }

        .vinculo_box-most_people {
            width: 100%;
        }

        .status_box-most_people {
            width: 100%;
        }


        .cpf_box-most_people {
            width: 100%;
        }

        .box_arrow-most_people {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .col_2-most_people {
            margin-top: 10px;
            gap: 10px;
        }

         /*SCORE
         MARKETING
         PROCESSOS JUDICIAIS  */

        .card_main-score{
            width: auto;
            height: auto;
            gap: 10px;
        }

        #Score {
            width: 100%;
            padding: 15px 0px;
            margin-bottom: 0px;
        }

        .card-body-score {
            width: 100%;
        }
         
         #MarketingScore{          
            padding: 15px 0px;
            width: 100%;
            margin-bottom: 0px;
         }
         
         #LawProcessSummary{
            padding: 15px 0px;
            width: 100%;
            margin-bottom: 0px;
         }


    /*RENDA + CLASSE SOCIAL*/
    .main-card-classe_social {
        margin-bottom: 40px;
    }

    .main-card-info-classe_social {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    #Income {
        margin-bottom: 0px;
        display: flex;
        width: 100%;
        height: auto;
    }

    #Income > div {
        width: 100%;
    }
    
    .container_cima-classe_social {
        display: flex;
        height: auto;
        gap: 30px;
    }

    .green_box-classe_social{

        width: 100%;
    }

    .main_container-baixo {
        gap: 0px;
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .container_baixo-classe_social {
        display: flex;
        justify-content: start;
    }

    .d-clp{
        display: flex;
        gap: 0px;
        margin: 0px;
        padding: 0px;

    }
    
    
    #classeSocialPessoal h3{
        font-size: 10px;
    }
        
    /*************** PF = lista de atividades/funções; PJ = CNAEs *******************/
    
    .main-card-pf_lista_acoes_funcoes {
        break-inside: avoid-region;
        display: flex;
        flex-wrap: wrap;

        justify-content: start;
        margin-bottom: 40px;
        
        max-width: 90%;
        width: 90%;
        height: 100%;
    }

    #Activities{
        width: 100%;
        height: auto;
        margin-bottom: 0px;
    }

    #Activities > div {
        height: 100%;
    }


    /******************* dados profissionais *************/

    .main-card-dados_profissionais {
        height: auto;
        margin-bottom: 40px;
    }

    #ProfessionalData{
        display: flex;
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
    }

    #ProfessionalData > div {
        width: 100%;
    }

    .card-body {
        width: auto;
    }
       
        
    /******************* PESSOAS DE CONTATO *************/
    .main-card-contact_persons {
        margin-bottom: 40px;
    }
    
    #ContactPersons{
        display: flex;
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
    }

    #ContactPersons > div {
        width: 100%;
    }

    .col-1-contact_persons {
        display: flex;
    }

    .vinculo_box-contact_persons-1, .vinculo_box-contact_persons-2 {
        width: auto;
    }

    .status_box-contact_persons-1, .status_box-contact_persons-2 {
        width: auto;
    }

    .cpf_box-contact_persons-1, .cpf_box-contact_persons-2 {
        display: flex;
        align-items: start;
        justify-content: start;
    }


    /******************* RELACIONAMENTOS *************/

    .main-card-relacionamento{
        display: flex;
        width: 100%;
        margin-bottom: 40px;
    }
    

    #InCommon {
        margin-bottom: 0px;
    }


    /************************** LISTA DE ENDEREÇOS **************************/

    .main-card-lista_enderecos {
        margin-bottom: 40px;
    }

    #Addresses {
        margin-bottom: 0px;
    }

    #Addresses > div {
        border-radius: 3px;
        background-color: #fff;

        border: 1px solid #cccccc;
        box-shadow: 0px 10px 7px -10px #b5b5b5;
        box-sizing: border-box;
        width: 100%;
    }

    .cidade-container-lista_enderecos {
        width: 25%;
    }

    .rank-container-lista_enderecos {
        width: 25%;
    }

    .telefone-container-lista_enderecos {
        width: 25%;
    }


    .menu_dropdown_icon {
        position: relative;
        bottom: 0px;
        right: -8px!important;
        top: -1px!important;
        line-height: 1.231;
        font-weight: 400;
        font-size: 14px;
        color: #626262;
        width: 5%;
    }


    /************************** LISTA DE ENDEREÇOS COMERCIAIS **************************/

    .main-card-lista_enderecos_comerciais {
        margin-bottom: 40px;
    }

    #BusinessAddresses > div {
        border-radius: 3px;
        background-color: #fff;

        border: 1px solid #cccccc;
        box-shadow: 0px 10px 7px -10px #b5b5b5;
        box-sizing: border-box;
        width: 100%;

    }

    #BusinessAddresses {
        margin-bottom: 0px;
    }
    
    
    /************************** LISTA DE TELEFONES **************************/
    
    .main-card-lista_telefones {
        margin-bottom: 40px;
    }
    
    #Phones {
        margin-bottom: 0px;
    }
    
    #Phones > div{
        width: 100%;
    }

    .telefone_list-group_box {
        width: auto;
    }

    .sub_container-group_box-telefone-list {
        display: flex;
        align-items: center;
        gap: 6px;
    
        margin-left: 400px;
    
        width: 70%;
    }

    .icon-box-lista_telefones {
        width: 20%;
        align-items: start;
        display: flex;
    }


    /************************* EMAILS ***********************/
   
    #Emails {
    margin-bottom: 0px;
   }
    
    #Emails > div{
        width: 100%;
    }
    
    .main-card-info-lista_telefones {
        height: auto;
    }
    
    .cnt_main {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .main_container-lista_emails {
        margin-bottom: 0px;
        display: flex;
        flex-direction: row;
        gap: 10px;

        border: 0;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .icon-box-lista_emails {
        display: none;
    }

    .email_box-list_email {
        width: 100%;
    }


    .rank-box {
        width: 100%;
        height: auto;
    }

    .lista_email-group_box {
        margin-top: 0;
        width: 100%;
        display: flex;
        margin-right: 0!important;
    }

    .sub_container-group_box-list_email {
        margin: 0!important;
        gap: 0!important;
        width: 100%;
        flex-wrap: wrap;
        display: flex;
    }
        
    .list-email_format-config {
        margin-top: 0;
        width: 100%!important;
        line-height: 100px;
        font-weight: 400;
        font-size: 10px;
        color: #626262;
        position:static !important;
        bottom: 0px;
    }
    
    
    /******** SOCIEDADES *********/
    .main-card-lista_enderecos_comerciais {
        margin-bottom: 40px;
    }

    #Companies {
        margin-bottom: 0px;
    }

    #Companies > div {
        border-radius: 3px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(204, 204, 204);
        box-shadow: rgb(181, 181, 181) 0px 10px 7px -10px;
        box-sizing: border-box;
        width: 100%;
        height: auto;
    }

    .col-1-lista_sociedades {
        display: flex;
        height: 100%;
        align-items: center;
        display: list-item;
        list-style: none;
        padding: 0px;
    }

    .col-1-lista_sociedades:hover {
        background-color: #e8e8e8;
        transition: 0.3s;
    }


    .top_container-lista_sociedades {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: static!important;
    }

    .link-top {
        text-decoration: none;
        cursor: pointer;
        color: #424242;
        box-sizing: border-box;
        background: transparent;
        line-height: 1.231;
        font-weight: 400;
        font-size: 14px;
    }

    .link-bottom {
        color: #424242;
        text-decoration: none;
        cursor: pointer;
        background: transparent;
        line-height: 1.231;
        font-weight: 400;
        font-size: 14px;
        font-style: none;
    }


    .divseparar {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
        margin: 0px!important;
    }

    .socio-container {
        width: 100%;
    }

    .entrada-container {
        width: 100%;
        padding: 0px;
    }

    .indireto-box {
        width: 100%;
    }

    .indireto-box > span {
        opacity: 1;
        background-color: #454545;
        font-size: 10px;
        display: inline;
        padding: 0.3em 0.7em 0.4em;
        font-weight: 600;
        line-height: 24px;
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25em; 
    }

    .participacao-box {
        width: 100%;
        padding: 0px;
    }

    .porc-box {
        width: 100%!important;
    }

    .menu_dropdown_icon {
        width: auto;
        position: static;
        width: 100%;
        padding: 0px;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: end;
    }



    /******** IMOVEIS *********/

    .button-group-imoveis {
        display: flex;
        gap: 0px;
        vertical-align: middle;
        line-height: 1.231;
        font-weight: 400;
        font-size: 14px;
        color: #626262;
    }

    /******** PROTESTOS DE TITULOS *********/


    /******** COMPORTAMENTOS DIGITAIS *********/

    #DigitalBehavior{
        margin-bottom: 0px;
    }

    .main-card-info-comportamento_digital {
        width: 100%;
    }

    .main-container_info-comportamento-digital {
        width: auto;
    }

    .box-2-comportamento_digital{
        position: relative;
        top: 30px;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .box-1-dominio_box > .table{
        margin: 10px 10px;

    }.acessos-text-table{
        position: relative;
        right: 200px;
        top: 55px;
        font-weight: 100;
    }.acessos_text_resposta-table{
        position: relative;
        margin: 100px 100px;
        right: 200px;
        top: 35px;
        
    }.ult_acesso-text-table{
        position: relative;
        right: 100px;
        top: 55px;
        display: block;
        font-weight: 100;
    }.ult_acesso_text_resposta-table{
        position: relative;
        right: 100px;
        top: 35px;
    }.box-3-comportamento_digital h5{
        position: relative;
        top: 30px;
    }

    
    
    /****************** ÚLTIMAS CONSULTAS ************************/
    
    .main-card-ultimas-consultas {
        margin-bottom: 40px;
    }

    #Queries {
        margin-bottom: 0px;
    }
    
    #Queries > div {
        border-radius: 3px;
        background-color: #fff;

        border: 1px solid #cccccc;
        box-shadow: 0px 10px 7px -10px #b5b5b5;
        box-sizing: border-box;

        width: 100%;
        height: 100%;
    }

    .main-card-content-ultimas_consultas {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .card-area_consultas {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        text-wrap: wrap;
        display: flex;
    }

    .card-quantidade-consultas{
        width: 100%;
    }   
    .card-rank-consultas{
        width: 100%;
    }


    /*************** MODELO E ESTATISTICA ***********************/
    
    .main-card-modelos_estatisticos {
        margin-bottom: 40px;
    }

    #StatisticModels {
        margin-bottom: 0px;
    }

    #StatisticModels > div {
        border-radius: 3px;
        background-color: #fff;

        border: 1px solid #cccccc;
        box-shadow: 0px 10px 7px -10px #b5b5b5;
        box-sizing: border-box;
        width: 100%;
        height: 100%;        
    }

    .hotbar {
        display: none;
    }
    
    .box-content-modelos_estatiscos{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .container-modelo_perfil_franqueado{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;        
    }

    .container-score-alterado{
        width: 100%;
        /*buttom refresh local votação */
    }


    .resultado_box-modelos_estatisticos {
        width: 100%;
    }

    .rank_box-modelos_estatisticos{
        width: 100%;
    }

    .small-imovel{
        position: relative;
        left: 0px;
    }
    .sub-imovel{
        position: relative;
        left: 0px;
    }

    .small-comportamento{
        position: relative;
        left: 0px;
    }

    .sub-comportamento{
        position: relative;
        left: 0px;
    }

    .small-conta{
        position: relative;
        left: 0px;
    }

    .sub-conta{
        position: relative;
        left: 0px
    }

    .pointer-2 {
        height: 8px;
        width: 3px;
        box-shadow: 0px 0px 2px 0px #000000;
        background: #e9e9e9;
        top: -1px;
        border-radius: 10px;

        position: relative; 
        right: -30px;

        line-height: 8px;
        font-size: 75%;
        font-weight: 400;
        color: #626262;
    }


.group-buttons-votacao:hover {
    background-color: #d8d5d5;
    transition: 0.3s;
}.button-box{
    position: relative;
    right: -0rem;

    /*button situação cadastral*/
}#card-header-situacao_cadastral > button {
    position: relative;
    right: -6rem;
    padding: 0 2px;
    vertical-align: middle;
    line-height: 0px;
    font: inherit;
    /*buttons relacionamento*/
}.group-buttons-relacionamento {
    display: flex;
}/*buttons lista endereço*/
.button-group-lista_enderecos {
    display: flex;
    gap: 0px;
    vertical-align: middle;
    line-height: 1.231;
    font-weight: 400;
    font-size: 14px;
    color: #626262;
}
/*icons lista telefone*/

.telefone_list-group_box {
    margin-top: 0;
    width: 15%;
    line-height: 100px;
    font-weight: 400;
    font-size: 10px;
    color: #626262;
    position: relative;
    right: 500px;
    bottom:30px;
 
}/*icons email*/
.lista_email-group_box {
    margin-top: 0;
    width: 15%;
    line-height: 100px;
    font-weight: 400;
    font-size: 10px;
    color: #626262;
    position: relative;
    right: 510px;
    bottom:20px;
 
}/*icons imovel*/
/*button refresh protesto*/

}

   


    

        
